@charset "UTF-8";

body {
    font-family: 'Times New Roman', Times, serif;
}
div {
    background-color: white;
    text-align: center;
    color: black;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

div:hover {
    background-color: yellow;
    color: chartreuse;

}
